.entry-content blockquote:before,.entry-content blockquote:after {
    display: block
}

.entry-content blockquote blockquote:before,.entry-content blockquote blockquote:after {
    display: none
}

.entry-content .begin,
.single-begin {
    float: left;
    font-size: 3.6em;
    line-height: 1em;
    margin-right: 3px;
    margin-top: 2px;
    font-weight: 700
}

@media screen and (max-width:860px) {
    .entry-content .begin,
    .single-begin {
        margin-top: 6px
    }
}

.entry-content ul {
    list-style: disc;
    border: 1px dashed #E4E4E4;
    padding: 15px 10px 15px 50px;
    color: #616161;
    margin-left: 0;
    border-radius: 10px
}

.entry-content ul ul {
    border: none;
    padding: 15px 10px 15px 30px;
}

.entry-content ol {
    list-style: decimal;
    border: 1px dashed #E4E4E4;
    padding: 15px 10px 15px 50px;
    color: #616161;
    margin-left: 0;
    border-radius: 10px
}

.entry-content ol li,
.entry-content ul li {
    padding: 8px 0
}

.entry-content {
    position: relative
}

.entry-content h3, .entry-content h4, .entry-content h5 {
    padding-left: 16px;
}

.entry-content h3 {
    padding-bottom: 8px;
    border-bottom: 1px dashed #ddd;
    color: #737373
}

.entry-content h3:after {
    content: "#";
    position: absolute;
    left: 0;
    color: #FF6D6D
}

.entry-content h4:after {
    content: ">";
    position: absolute;
    left: 0;
    color: #FF6D6D
}

.entry-content h5:after {
    content: "?";
    position: absolute;
    left: 0;
    color: #FF6D6D
}

.entry-content code {
    background: rgba(254, 250, 199, 1);
    color: #E67474;
    word-break: break-word;
    font-family: 'Source Code Pro', monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei", sans-serif;
    padding: 2px;
    text-shadow: none;
    border-radius: 5px
}

.entry-content a {
    color: #e67474;
    text-decoration: underline dotted rgba(0, 0, 0, .1)
}

.entry-content a:hover {
    color: orange;
    text-decoration: underline orange
}

h1.entry-title {
    font-size: 24px;
    font-weight: 300
}

.entry-content p {
    color: #000;
}

.entry-content p {
    line-height: 30px
}

.entry-content hr {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    border: 0;
    text-align: center;
    background: 0 0
}

.entry-content hr:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba(0, 0, 0, .8);
    position: relative;
    top: -30px;
    font-size: 28px;
    letter-spacing: .6em
}

.entry-content table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px
}

.entry-content th, .entry-content td {
  padding: 8px;
}

.entry-content tr:nth-child(even){background-color: #f2f2f2}

.entry-content th {
  color: white;
}

/*fix code block*/
.entry-content pre th, .entry-content pre td {
    padding: 0;
}

.entry-content pre tr:nth-child(even){
    background-color: transparent
}

.entry-content pre th {
    background-color: transparent !important;
}

.hljs-ln-line span::selection,
.hljs-ln-line::selection {
    background: #fff;
    color: #21252b
}

.hljs-ln-code .hljs-ln-line {
    margin-left: 25px;
    padding-left: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
